{% extends 'base.html' %}


{% block title %}
  <title>
    About
  </title>
{% endblock title %}


{% block content %}
  <div class='container'>
    <h1>About</h1>
    <p>My name is <a href='http://dbinetti.com'>David Binetti</a> and I'm a six-time entrepreneur and consultant.  I built this app to manage my own companies's cap tables since I found Excel too constrained and my lawyers too expenive.</p>
    <p>I hope you find it useful.  Good luck with your venture!</p>

  </div><!-- /container-->
{% endblock content %}
