{% extends 'base.html' %}


{% block title %}
  <title>
    Cap Table
  </title>
{% endblock title %}


{% block content %}
  <div class='container'>
    <div class='jumbotron'>
      <h1>Manage your Cap Tables</h1>
      <p>Cap Table is a simple application to help you manage your
        startup capitalization tables -- and learn how different
        financing structures can affect you as a founder.</p>
      <p><a class="btn btn-primary btn-large">Learn More</a></p>
    </div><!--/jumbotron-->
  </div><!-- /container-->
{% endblock content %}
