<div class="{% block navbar-classes %}navbar navbar-inverse navbar-fixed-top{% endblock %}">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="navbar-brand" href="{% url 'home' %}">CapApp</a>
            {# <div class="nav-collapse collapse"> #}
                {% comment %}
                <ul class="nav">
                    <li class="{% block summary-active %}{% endblock %}"><a href="{% url 'summary' %}">Summary</a></li>
                    <li class="{% block financing-active %}{% endblock %}"><a href="{% url 'financing' %}">Financing</a></li>
                    <li class="{% block proforma-active %}{% endblock %}"><a href="{% url 'proforma' %}">Proforma</a></li>
                    <li class="{% block liquidation-active %}{% endblock %}"><a href="{% url 'liquidation' %}">Liquidation</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'summary' %}">Summary</a></li>
                            <li><a href="{% url 'shareholders' %}">Shareholders</a></li>
                            <li><a href="{% url 'proforma' %}">Financing</a></li>
                            <li><a href="{% url 'liquidation' %}">Liquidation</a></li>
                        </ul>
                    </li>
                </ul>
                {% endcomment %}

                {% comment %}
                <div class="right_nav_login">
                {% if user.is_authenticated %}
                    {{user.username}} - <a href="{% url 'logout' %}">Logout</a>
                {% else %}
                    <a>Login</a>
                {% endif %}
                </div>
                {% endcomment %}
            {# </div><!--/.nav-collapse --> #}
        </div><!--/ container -->
    </div><!-- / navbar-inner -->
</div><!-- /navbar classes -->
