{% extends 'base.html' %}
{% load captabletags %}

{% block title %}
  <title>
    Certificate List
  </title>
{% endblock title %}

{% block content %}
  <div class='container'>
    <table class="table table-bordered table-hover table-summary">
    <h3>Certificate List</h3>
      <thead>
        <tr>
          <th>Name</th>
          <th>Date</th>
          <th>Security</th>
          <th>Investor</th>
          <th class='text-right'>Outstanding</th>
          <th class='text-right'>Paid</th>
        </tr>
      </thead>
      <tbody>
        {% for certificate in certificates %}
          <tr>
            <td><a href="{% url 'certificate_detail' certificate.slug %}">{{certificate.name}}</a></td>
            <td>{{certificate.date}}</td>
            <td><a href="{% url 'security_detail' certificate.security.slug %}">{{certificate.security}}</a></td>
            <td><a href="{% url 'investor_detail' certificate.shareholder.investor.slug %}">{{certificate.shareholder.investor}}</a></td>
            <td class='text-right'>{{certificate.outstanding|shares}}</td>
            <td class='text-right'>{{certificate.paid|currency}}</td>
          </tr>
        {% endfor %}
      </tbody>
      <tfoot>
      </tfoot>
    </table>
  </div><!--/container-->
{% endblock content %}

