{% extends 'base.html' %}
{% load render_table from django_tables2 %}


{% block title %}Company Detail{% endblock title %}


{% block content %}
<a href = "{% url 'company' company.slug %}">{{company.name}}</a><br>
Choose from one of the options below.
<br><br>
<a href = "{% url 'summary' company.slug %}">Summary</a> - This is an overview of the company capitalization.<br><br>
<a href = "{% url 'financing' company.slug 10000000 40000000 20%}">Financing</a> - This produces a pro-forma financing table.  <br>
To calculate a financing, enter new money, prevaluation and option pool
target amount in basis points in the URL, separated by commas.
The order is significant.  (Basis points percentages multiplied
by 100; 20% is 20 basis points.)  If you are not expanding the option pool, or
the options will otherwise not be "in the pre" then append a zero.  This link provides an example of a "10 on 40 with a 20% option pool", entered as /10000000,40000000,20  <br><br>
<a href = "{% url 'liquidation' company.slug 20000000%}">Liquidation</a> - This produces a simplified liquidation analysis.<br>
To calculate proceeds by investor for a liquidation, append the purchase prices to the URL in dollars. The view handles all preferences automatically.  This link provides an example of a liquidation for a purchase price of $20 million.
<br><br>
<a href = "{% url 'securities' company.slug %}">Securities</a> - Provides a clickable list of all securities.<br><br>
<a href = "{% url 'investors' company.slug %}">Investors</a> - Provides a clickable list of all investors.<br><br>


{% endblock content %}