{% extends 'base.html' %}


{% block title %}Home{% endblock title %}
{% block home-active %}active{% endblock %}
{% block content %}
{% if request.user.is_authenticated %}
{% if companies %}
Click on the Company to get started.<br>
{% for company in companies %}
<a href="{% url 'company' company.slug %}">{{company}}</a><br>
{% endfor %}
{% else %}
You don't have any companies entered (or don't have permission to access them.)<br>
See the README tutorial to get started.<br>
<br>
You can also add an example company by clicking <a href="{% url 'add_example' %}">here</a>.
{% endif %}
{% else %}
Welcome to the cap table demostration app.  This is used to help manage cap
tables. <br><br>
You need a mobile phone to login to this applicaiton.  I am using a
special authentication system that I built which means you'll never need
to worry about remembering which username/password combination you used
to sign up for this site.  After entering your number the system will text
you a four-digit code.  Enter that and you're done.  The code immediately
expires after being used once, so there's nothing to remember except
your mobile number. <br><br>
I won't sell, share, or otherwise use your phone number; I just wanted
to try something different here.  <br><br>
Thanks!<br><br>

<a href="{% url 'noncense_request' %}">Login Here</a>

{% endif %}

{% endblock content %}
{% block footer %} {% endblock footer %}