{% extends 'base.html' %}


{% block title %}
  <title>
    Investor Detail
  </title>
{% endblock title %}


{% block content %}
  <div class='container'>
    <div class='panel'>
      <div class='panel-heading'>
        <h4 class='panel-title'>{{investor}}</h4>
      </div>
        {% if investor.contact %}
          <strong>Contact</strong><br>
          {{investor.contact}}<br>
          {{investor.address}}<br>
          {{investor.city}}, {{investor.state}}  {{investor.zipcode}}
        {% else %}
          No Contact Information
        {% endif %}
    </div><!--/panel-->
    {% if notes %}
    <div class='well'>
      <strong>Notes</strong><br>
      {{investor.notes}}
    {% endif %}
  </div><!--container-->
{% endblock content %}
