{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% load captabletags %}
{% load humanize %}


{% block title %}
  <title>
    Liquidation Worksheet
  </title>
{% endblock title %}


{% block content %}
<style>
.hiddenRow {
    padding: 0 !important;
}
</style>
  <div class='container'>
    <table id='liquidationTable' class='table table-bordered table-hover table-condensed table-summary'>
      <thead>
        <tr>
          <th>
            <a href="{% url 'investor_list' %}">Investor</a>
            <a class='pull-right glyphicon glyphicon-sort-by-alphabet-alt' href="?order_by=-shareholder__investor"></a>
            <a class='pull-right glyphicon glyphicon-sort-by-alphabet' href="?order_by=shareholder__investor"></a>
          </th>
          <th><a href="{% url 'shareholder_list' %}">Shareholder</a></th>
          <th><a href="{% url 'certificate_list' %}">Certificate</a></th>
          <th>Vested</th>
          <th>Liquidated</th>
          <th>Proceeds</th>
          <th>Rata</th>
        </tr>
      </thead>
      <tbody>

        {% regroup liquidation by investor as liquidation_list_by_investor %}

        {% for investor in liquidation_list_by_investor %}

          <tr class='parent'>
            <th colspan='6'>
                  {{investor.grouper}}
            </th>
            <th>$999.00</th>
          </tr>



          {% for row in investor.list %}
            <tr class='child' style='display: none; '>
              <td >

              </td>

              <td>
                <a href="{% url 'shareholder_detail' row.shareholder_slug %}">{{row.shareholder}}</a>
              </td>
              <td>
                <a href="{% url 'certificate_detail' row.certificate_slug %}">{{row.certificate}}</a>
              </td>
              <td>{{row.vested|shares}}</td>
              <td>{{row.liquidated|currency}}</td>
              <td>{{row.proceeds|currency}}</td>
              <td>{{row.proceeds_rata|percentage}}</td>

            </tr>
          {% endfor %}
        {% endfor %}

      </tbody>
      <tfoot>
        <tr>
          <td colspan=3>Totals</td>
          <td>{{total.vested}}</td>
          <td>{{total.liquidated}}</td>
          <td>{{total.proceeds}}</td>
          <td>{{total.rata}}</td>
        </tr>
      </tfoot>
    </table>
    <small>Prepared on {% now "r" %}</small>
    <br>
  </div><!--/container-->


{% endblock content %}
