{% extends 'base.html' %}
{% load captabletags %}

{% block title %}
  <title>
    Security List
  </title>
{% endblock title %}

{% block content %}
  <div class='container'>
    <table class="table table-bordered table-hover table-summary">
    <h3>Security List</h3>
      <thead>
        <tr>
          <th>Name</th>
          <th>Date</th>
          <th>Type</th>
          <th>Premoney</th>
          <th>Seniority</th>
        </tr>
      </thead>
      <tbody>
        {% for security in securities %}
          <tr>
            <td><a href="{% url 'security_detail' security.slug %}">{{security.name}}</a></td>
            <td>{{security.date}}</td>
            <td>{{security.get_security_type_display}}</td>
            <td>{{security.pre|mils}}</td>
            <td>{{security.seniority}}</td>
          </tr>
        {% endfor %}
      </tbody>
      <tfoot>
      </tfoot>
    </table>
  </div><!--/container-->
{% endblock content %}

