{% extends 'base.html' %}
{% load humanize %}
{% load captabletags %}

{% block title %}
  <title>
    Summary Capitalization
  </title>
{% endblock title %}

{% block summary-active %}
  active
{% endblock summary-active %}

{% block content %}
  <div class='container'>
    {# <a href = "{% url 'company' company.slug %}">{{company.name}}</a><br> #}
    <table class="table table-bordered table-hover table-summary">
    <caption>Summary Capitalization</caption>
      <thead>
        <tr>
          <th>Type</th>
          <th>Series Name</th>
          <th>Conversion Ratio</th>
          <th>Authorized</th>
          <th>Shares Outstanding</th>
          <th>as Converted</th>
          <th>Rata Diluted</th>
        </tr>
      </thead>
      <tbody>
      {% regroup securities by get_security_type_display as security_list_by_type %}
      {% for security_by_type in security_list_by_type %}
        <tr>
          <th class="table-h2" colspan='4'>{{security_by_type.grouper}}</th>
          <th>{# type subtotal #}</th>
          <th></th>
          <th>{# rata subtotal #}</th>
        </tr>
        {% for item in security_by_type.list %}
          <tr class='table-item'>
            <td></td>
            <td><a href="{% url 'security' item.slug %}">{{item.name}}</a></td>
            <td>{{item.conversion_ratio|default_if_none:""}}</td>
            <td>{{item.authorized|default_if_none:""|intcomma}}</td>
            <td>{{item.outstanding|default_if_none:""|floatformat:0|intcomma}}</td>
            <td>{{item.converted|floatformat:0|intcomma}}</td>
            <td>{{item.diluted_rata|percentage}}</td>
          </tr>
        {% endfor item %}
      {% endfor security_list_by_type %}
        <tr>
          <td>Remaining Options Available</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>{{company.available|floatformat:0|intcomma}}</td>
          <td>{{company.available_rata|percentage}}</td>
        </tr>
        <tr>
          <th colspan='4'>Totals</th>
          <th>{{company.outstanding|floatformat:0|intcomma}}</th>
          <th>{{company.diluted|floatformat:0|intcomma}}</th>
          <th>{{company.diluted_rata|percentage}}</th>
        </tr>
      </tbody>
    </table>
  </div> <!-- /container -->
{% endblock content %}

{% block footer %}
  Prepared on {% now "r" %}
{% endblock footer %}

