
.table-container ul.pagination {
    overflow: auto;
    margin: 0;
    padding: 10px;
    border: 1px solid #DDD;
    list-style: none;
}
.table-container ul.pagination > li > a {
    text-decoration: none;
    font-weight: bold;
}
.table-container ul.pagination li {
    float: left;
    line-height: 22px;
    margin-left: 10px;
}
.table-container ul.pagination li:first-child {
    margin-left: 0;
}

.table-container ul.pagination li.cardinality {
    float: right;
    color: #8d8d8d;
}


/*Adds popover support to glyphicons*/

[rel="popover"] {
  cursor: pointer;
  display:inline-block; /* chrome-fix */
}
