

/*Padding support for fixed navbar*/
body {
    padding-top: 70px;
}


/*Adds popover support to glyphicons*/
[rel="popover"] {
  cursor: pointer;
  display:inline-block; /* chrome-fix */
}

/*inline explanation for terms*/
.inlinedef {
    border-bottom: 1px dotted #ba0000;
    cursor: help;
    display: inline;
}
