/* Comments!

body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.table-h1 {
    font-size: 110%;
}

.table-h2 {
    font-size: 105%;
    padding-left: 3%;
    font-style: italic;
}

.table-h3 {
    padding-left: 5%;
    font-size: 103%;
}

.table-h4 {

}

.table-item {
    padding-left: 10%;
}


.table-num {
    text-align: right;
}

.table td {
    text-align: right;
}

.float_right {
    float: right;
    width: 45%;
}

.float_left {
    float: left;
    width: 45%;
}

.right_nav_login {
    text-align: right;
    color: #777777;
}

.name {
    text-align: left;
}
*/