{% extends 'base.html' %}


{% block title %}
  <title>
    Investor Detail
  </title>
{% endblock title %}


{% block content %}
<div class='container'>
  {{investor}}<br><br>
  <strong>Related Funds</strong><br>
  {% for shareholder in investor.shareholder_set.all %}
    {{shareholder}}<br>
  {% endfor %}<br><br>
  {% for certificate in certificates %}
    {{certificate.shareholder.name}}, {{certificate.name}}<br>
  {% endfor %}

  {% if investor.contact %}
    <strong>Contact</strong><br>
    {{investor.contact}}<br>
    {{investor.address}}<br>
    {{investor.city}}, {{investor.state}}  {{investor.zipcode}}
  {% endif %}
</div><!--container-->
{% endblock content %}